.wrap{
    display: flex;
    flex-flow: row wrap;
}
.wrap_elem{
    width: 200px;
    border: 1px solid gray;
    padding: 10px;
    margin: 15px 10px;

}
.wrap_ava{
    width: 80%;
    max-height: 160px;
    min-height: 160px;
    overflow: hidden;
    border: 1px solid gray;
    margin: 10px auto;
}
.wrap_ava img{
    width:100%;
}
.wrap_info{

}
.wrap_button{

}
.btn{
    width: 150px;
    background-color: blueviolet;
    color: beige;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    margin: 10px auto;
}
.btn:active{
    background-color: darkviolet;
    border-color: darkgrey;
}