

.header{
    grid-area: h;
    background-color: darkgray;
    margin: 5px;
}
.header img{
    width:170px;

}
.loginBlock{
    float:right;
}
.loginBlock a{
    color: beige;
    text-decoration: none;
}