.App {
  display: grid;
  grid-template-areas: 'h h' 'n c';
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 2fr 10fr;
  width:100vw;
}

.content{
  grid-area: c;

  margin: 5px;
}
.preloader_wrap{
  position: absolute;
  top:50vh;
  right: 50vw;
}

.prldbox{
  width: inherit;

}
.prldbox img{
  width: 100px;
  height: auto;

}
